.contentSectionSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 78px;
  .texts {
      width: 420px;
        h2 {
            font-family: var(--font-family);
            font-weight: 900;
            font-size: 48px;
            color: #2c2c2c;
        }
        .withWidth {
          width: 301px;
        }
        span {
            font-weight: 900;
            background: linear-gradient(180deg, #0574e5 0%, #021c7a 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .textUnder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 144%;
            color: #a79997;
            padding: 40px 0 125px 0;
        }
    }
}
@media only screen and (max-width: 1019px) {
  .contentSectionSlider {
    flex-direction: column;
    padding-bottom: 50px;
    .texts {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .textUnder {
        padding: 40px 0;
      }
      .withWidth {
        width: 100%;
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 547px) {
  .contentSectionSlider {
    .texts {
      h2{
        font-size: 30px;
      }
    }
  }
}
@media only screen and (max-width: 343px) {
  .contentSectionSlider {
    .texts {
      h2{
        font-size: 25px;
      }
    }
  }
}